## -*- coding: utf-8 -*-
<%inherit file="base.tmpl"/>
<%block name="extra_head">
    <link rel="stylesheet" href="/assets/css/colorbox.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/jquery.colorbox.js"></script>
    <script>
        $(document).ready(function(){
        //Examples of how to assign the Colorbox event to elements
        $(".pos").colorbox({rel:'pos', transition:'fade', opacity:0.5});
        $(".pay").colorbox({rel:'pay', transition:'fade', opacity:0.5});
        $(".chart").colorbox({rel:'chart', transition:'fade', opacity:0.5});
        $(".vat").colorbox({rel:'vat', transition:'fade', opacity:0.5});
        $(".check").colorbox({rel:'check', transition:'fade', opacity:0.5});
        $(".checkbook").colorbox({rel:'checkbook', transition:'fade', opacity:0.5});
        $(".retention").colorbox({rel:'retention', transition:'fade', opacity:0.5});
        $(".perception").colorbox({rel:'perception', transition:'fade', opacity:0.5});
        $(".youtube").colorbox({iframe:true, innerWidth:640, innerHeight:390});
    });
    </script>
</%block>
<%block name="all_content">
    <%block name="github_ribbon">
    <!-- Github ForkMe Ribbon -->
    <a href="https://github.com/ProyectoAconcagua"><img style="position: absolute; top: 50px; right: 0; border: 0; z-index: 999;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
    <!-- Github ForkMe Ribbon End -->
    </%block>
    <!-- Content -->
      <div class="container main-content">
        <div class="row">
          ${post.text()}
        </div>
      </div>
      <footer class="bs-footer" role="contentinfo">
          ${content_footer}
      </footer>
</%block>
